body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #000;
  padding: 10px;
}

header h1 {
  margin: 0;
  padding: 0;
}

header h1 a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}
header h1 a:hover{
  color: #ffcc00;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 18px;
}

nav ul li a.active {
  color: #cfa200;
}

nav ul li a:hover {
  color: #ffcc00;
}

.banner {
  background-image: url(imagens/banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
  color: #fff;
}
 
.banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #cfa200;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px; /* Adicionando margem inferior */
}


section h2 {
  font-size: 24px; /* Tamanho da fonte */
  color: #ffcc00; /* Cor do texto */
  margin-bottom: 10px; /* Margem inferior */
  text-align: center;
  font-family: "Playbill";
}

section h1 {
  font-size: 30px; /* Tamanho da fonte */
  color: #ffcc00; /* Cor do texto */
  margin-bottom: 10px; /* Margem inferior */
  text-align: center;
  font-family: "Playbill";
}

.banner h1 {
  font-size: 100px; /* Tamanho da fonte */
  color: #ffcc00; /* Cor do texto */
  margin-bottom: 10px; /* Margem inferior */
  text-align: center;
  font-family: "Playbill";
}

section p {
  font-size: 16px;
  margin-bottom: 10px;
}

footer {
  background-color: #000;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

#cardapio h1{
  color: #ffcc00;
  text-align: center;
}

#cardapio p{
  text-align: center;
}

#cardapio {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(233, 233, 233);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  text-align: center;
  table-layout: fixed;
}

table td,
table th {
  border: 1px solid rgb(233, 233, 233);
  background-color: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


table thead th:first-child {
  border-top-left-radius: 10px;
}

table thead th:last-child {
  border-top-right-radius: 10px;
}

caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  margin-top: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 240;
  height: 160;
  margin-bottom: 10px;
}

.description {
  min-height: 160px;
}

.menu-item {
  max-width: 150px; /* Define a largura máxima do item do menu */
  margin: 0 auto; /* Centraliza horizontalmente os itens */
  margin-bottom: 20px; /* Define a margem inferior para separar os itens */
}

.menu-item p {
  margin: 0 auto; /* Centraliza horizontalmente os itens */
  margin-bottom: auto; /* Define a margem inferior para separar os parágrafos */
}

.menu-item a:hover {
  color: #ffcc00;
}

.menu-item a {
  color: #000;
  text-decoration: none; /* Remove o sublinhado dos links */
  font-weight: bold;
}

#sobre {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(233, 233, 233);
}

#sobre h2 {
  font-size: 24px; /* Tamanho da fonte */
  color: #ffcc00; /* Cor do texto */
  margin-bottom: 10px; /* Margem inferior */
  text-align: center;
}

#sobre p {
  text-align: center;
  font-size: 16px; /* Tamanho da fonte */
  color: #000; /* Cor do texto */
}

#sobre a:hover {
  color: #ffcc00; /* Cor do texto */
}

#sobre a {
  color: #000; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado dos links */
  font-weight: bold;
}